@page "/"
@inject IIndexedDbFactory DbFactory
@inject IMatToaster Toaster
@inject NavigationManager Url

<Animate Animation="Animations.SlideRight" Duration="TimeSpan.FromSeconds(0.5)">
    <div class="main-layout">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                @if(customers != null) {
                    <MatList>
                        @foreach(var customer in customers)
                        {
                            <MatListItem Href="@Url.ToAbsoluteUri("Invoice/" + @customer.Id).AbsoluteUri">
                                <div class="list-row">
                                    <div class="list-cell list-cell-name">
                                        @customer.Name
                                    </div>
                                    <div class="list-cell list-cell-adress">
                                        @customer.Adress, @customer.ZipCode @customer.City
                                    </div>
                                    <div class="list-cell">
                                        @customer.Phone
                                    </div>
                                    <div class="list-cell list-action">
                                        <MatIconButton Href="https://www.google.se/" Icon="edit"></MatIconButton>
                                    </div>
                                </div>
                            </MatListItem>
                            <MatDivider></MatDivider>
                        }
                        <MatListItem>
                            <MatButton Icon="add" OnClick="@OpenDialog" Label="Lägg till kund"></MatButton>
                        </MatListItem>
                    </MatList>
                }
            </div>
        </div>
    </div>
</Animate>


<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Lägg till kund</MatDialogTitle>
    <MatDialogContent>
            <p>
                <MatTextField @bind-Value="@customerName" Label="Namn"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@customerAdress" Label="Address"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@customerZipCode" Label="Postnummer"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@customerCity" Label="Stad"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@customerPhone" Label="Telefonnummer"></MatTextField>
            </p>           
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; })">Avbryt</MatButton>
        <MatButton OnClick="@OkClick">Lägg till kund</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    List<Customer> customers;

    //Form binds
    string customerName;
    string customerAdress;
    string customerZipCode;
    string customerCity;
    string customerPhone;
    bool dialogIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.Create<BofaxDb>();
        customers = db.Customers.ToList();
    }

    void OpenDialog()
    {
        customerName = null;
        customerAdress = null;
        customerZipCode = null;
        customerCity = null;
        customerPhone = null;

        dialogIsOpen = true;
    }

    void OkClick()
    {
        AddCustomer();
        dialogIsOpen = false;
    }

    async void AddCustomer()
    {
        var customer = new Customer()
        {
            Name = customerName,
            Adress = customerAdress,
            ZipCode = customerZipCode,
            City = customerCity,
            Phone = customerPhone
        };

        try
        {
            using var db = await DbFactory.Create<BofaxDb>();
            db.Customers.Add(customer);
            await db.SaveChanges();
            customers = db.Customers.ToList();
            Toaster.Add("Kund tillagd!", MatToastType.Success);
        }
        catch (Exception ex)
        {
            Toaster.Add("Fel inträffade när kund skulle läggas till!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in AddCustomer");
        }
    }
}
