@page "/"
@inject IIndexedDbFactory DbFactory
@inject IMatToaster Toaster
@inject NavigationManager Url

<Animate Animation="Animations.SlideRight" Duration="TimeSpan.FromSeconds(0.5)">
    <div class="main-layout">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                @if(_customers != null) {
                    <MatList>
                        @foreach(var customer in _customers)
                        {
                            <MatListItem Href="@Url.ToAbsoluteUri("Invoice/" + @customer.Id).AbsoluteUri">
                                <div class="list-row">
                                    <div class="list-cell list-cell-name">
                                        @customer.Name
                                    </div>
                                    <div class="list-cell list-cell-adress">
                                        @customer.Adress, @customer.ZipCode @customer.City
                                    </div>
                                    <div class="list-cell">
                                        @customer.Phone
                                    </div>
                                    <div class="list-cell list-action">
                                        <MatIconButton Href="https://www.google.se/" Icon="edit"></MatIconButton>
                                    </div>
                                </div>
                            </MatListItem>
                            <MatDivider></MatDivider>
                        }
                        <MatListItem>
                            <MatButton Icon="add" OnClick="@OpenDialog" Label="Lägg till kund"></MatButton>
                        </MatListItem>
                    </MatList>
                }
            </div>
        </div>
    </div>
</Animate>


<MatDialog @bind-IsOpen="@_dialogIsOpen">
    <MatDialogTitle>Lägg till kund</MatDialogTitle>
    <MatDialogContent>
            <p>
                <MatTextField @bind-Value="@_customerName" Label="Namn"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerAdress" Label="Address"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerZipCode" Label="Postnummer"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerCity" Label="Stad"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerPhone" Label="Telefonnummer"></MatTextField>
            </p>           
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { _dialogIsOpen = false; })">Avbryt</MatButton>
        <MatButton OnClick="@AddCustomer">Lägg till kund</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    List<Customer> _customers;

    //Form binds
    string _customerName;
    string _customerAdress;
    string _customerZipCode;
    string _customerCity;
    string _customerPhone;
    bool _dialogIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        _customers = await GetCustomers();
    }

    async Task<List<Customer>> GetCustomers()
    {
        using var db = await DbFactory.Create<BofaxDb>();
        return db.Customers.ToList();
    }

    void OpenDialog()
    {
        _customerName = null;
        _customerAdress = null;
        _customerZipCode = null;
        _customerCity = null;
        _customerPhone = null;

        _dialogIsOpen = true;
    }

    void AddCustomer()
    {
        CreateAndAddCustomer();
        _dialogIsOpen = false;
    }

    async void CreateAndAddCustomer()
    {
        var customer = new Customer()
        {
            Name = _customerName,
            Adress = _customerAdress,
            ZipCode = _customerZipCode,
            City = _customerCity,
            Phone = _customerPhone
        };

        try
        {
            using var db = await DbFactory.Create<BofaxDb>();
            db.Customers.Add(customer);
            await db.SaveChanges();
            _customers = await GetCustomers();
            Toaster.Add("Kund tillagd!", MatToastType.Success);
        }
        catch (Exception ex)
        {
            Toaster.Add("Fel inträffade när kund skulle läggas till!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in AddCustomer");
        }
    }
}
