@page "/Invoice/{CustomerId}"
@inject IIndexedDbFactory DbFactory
@inject IMatToaster Toaster
@inject NavigationManager navMgr
@inject PrintSettings PrintSettings

<Animate Animation="Animations.SlideRight" Duration="TimeSpan.FromSeconds(0.5)">
    <div class="main-layout">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                @if(_customer != null) 
                {
                    <p>@_customer.Name</p>
                    <p>@_customer.Adress, @_customer.ZipCode @_customer.City</p>
                    <p>@_customer.Phone</p>
                    <p><MatButton OnClick="@OpenEditCustomerDialog" Label="Redigera kund"></MatButton></p>
                }
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <p>
                    <MatSelectItem @bind-Value="@_invoiceMonth" Items="@_months" Label="Fakturamånad"></MatSelectItem>
                </p>
                <p>
                    <MatDatePicker Format="yyyy-MM-dd" Label="Fakturadatum" @bind-Value="@_invoiceDate"></MatDatePicker>
                </p>
                <p>
                    <MatDatePicker Format="yyyy-MM-dd" Label="Förfallodatum" @bind-Value="@_expirationDate"></MatDatePicker>
                </p>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatList>
                    <MatListGroupSubHeader>
                        <div class="list-row">
                            <div class="list-cell list-cell-amount">
                                Antal
                            </div>
                            <div class="list-cell list-cell-description">
                                Beskrivning
                            </div>
                            <div class="list-cell list-cell-unitprice">
                                À Pris
                            </div>
                            <div class="list-cell list-action">
                            </div>
                        </div>
                    </MatListGroupSubHeader>
                    <MatListDivider></MatListDivider>
                    @if(_invoiceRows != null) {
                        @foreach(var invoiceRow in _invoiceRows) 
                        {
                            <MatListItem>
                                <div class="list-row">
                                    <div class="list-cell list-cell-amount">
                                        @invoiceRow.Quantity
                                    </div>
                                    <div class="list-cell list-cell-description">
                                        @invoiceRow.Description
                                    </div>
                                    <div class="list-cell list-cell-unitprice">
                                        @invoiceRow.UnitPrice kr
                                    </div>
                                    <div class="list-cell list-action">
                                        <MatIconButton OnClick="@(() => DeleteInvoiceRow(invoiceRow))" Icon="delete"></MatIconButton>
                                    </div>
                                </div>
                            </MatListItem>
                            <MatListDivider></MatListDivider>
                        }
                    }
                    <MatListItem>
                        <div class="list-row">
                            <div class="list-cell list-cell-amount">
                                <MatTextField @bind-Value="@_invoiceRowQuantity" Label="Antal" FullWidth="true"></MatTextField>
                            </div>
                            <div class="list-cell list-cell-description">
                                <MatTextField @bind-Value="@_invoiceRowDescription" Label="Beskrivning" FullWidth="true"></MatTextField>
                            </div>
                            <div class="list-cell list-cell-unitprice">
                                <MatTextField @bind-Value="@_invoiceRowUnitPrice" Label="À Pris" FullWidth="true"></MatTextField>
                            </div>
                            <div class="list-cell list-action">
                                <MatIconButton OnClick="@AddInvoiceRow" Icon="add"></MatIconButton>
                            </div>
                        </div>
                    </MatListItem>
                    <MatListItem>
                        <div class="list-row">
                            <div class="list-cell list-cell-amount">
                                
                            </div>
                            <div class="list-cell list-cell-description">

                            </div>
                            <div class="list-cell list-cell-unitprice">
                                Total: @_calculatedSum kr
                            </div>
                            <div class="list-cell list-action">
                                <MatIconButton OnClick="@RenderPDF" Icon="print"></MatIconButton>
                            </div>
                        </div>
                    </MatListItem>
                </MatList>
            </div>
        </div>
    </div>
</Animate>


<MatDialog @bind-IsOpen="@_dialogIsOpen">
    <MatDialogTitle>Redigera kund</MatDialogTitle>
    <MatDialogContent>
            <p>
                <MatTextField @bind-Value="@_customerName" Label="Namn"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerAdress" Label="Address"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerZipCode" Label="Postnummer"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerCity" Label="Stad"></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@_customerPhone" Label="Telefonnummer"></MatTextField>
            </p>           
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { _dialogIsOpen = false; })">Avbryt</MatButton>
        <MatButton OnClick="@EditCustomer">Redigera kund</MatButton>
    </MatDialogActions>
</MatDialog>


@code {
    [Parameter]
    public string CustomerId { get; set; }

     //Form binds
    string _customerName;
    string _customerAdress;
    string _customerZipCode;
    string _customerCity;
    string _customerPhone;
    bool _dialogIsOpen = false;

    Customer _customer;
    Month _invoiceMonth = 0;
    DateTime _invoiceDate = DateTime.Today;
    DateTime _expirationDate = DateTime.Now.AddDays(-10);
    List<InvoiceRow> _invoiceRows;
    decimal _calculatedSum;

    string _invoiceRowQuantity;
    string _invoiceRowDescription;
    string _invoiceRowUnitPrice;

    Month[] _months = Enum.GetValues(typeof(Month)).Cast<Month>().ToArray();

    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.Create<BofaxDb>();
        var customerId = Convert.ToInt64(CustomerId);
        _customer = db.Customers.Single(c => c.Id == customerId);
        _invoiceRows = await GetInvoiceRowsForCustomer(_customer.Id);
        _calculatedSum = CalculateSum();
        SetDates();
    }

    async Task<Sender> GetSenderInformation() 
    {
        try 
        {
            using var db = await DbFactory.Create<BofaxDb>();
            var sender = db.Senders.FirstOrDefault();
            if(sender == null) 
            {
                throw new Exception("Kunde inte läsa in avsändarinformationen!");
            }
            return sender;
        }
        catch (Exception ex) 
        {
            Toaster.Add("Fel inträffade när avsändarinformation skulle läsas in!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in GetSenderInformation");
            return null;
        }
    }

    void OpenEditCustomerDialog() 
    {
        _customerName = _customer.Name;
        _customerAdress = _customer.Adress;
        _customerZipCode = _customer.ZipCode;
        _customerCity = _customer.City;
        _customerPhone = _customer.Phone;
        _dialogIsOpen = true;
    }

    async void EditCustomer() 
    {
        try
        {
            using var db = await DbFactory.Create<BofaxDb>();
            var customer = db.Customers.Single(x => x.Id == _customer.Id);

            customer.Name = _customerName;
            customer.Adress = _customerAdress;
            customer.ZipCode = _customerZipCode;
            customer.City = _customerCity;
            customer.Phone = _customerPhone;
            await db.SaveChanges();
            _customer = customer;
            _dialogIsOpen = false;
            Toaster.Add("Kund redigerad!", MatToastType.Success);
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.Add("Fel inträffade när kund skulle redigeras!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in EditCustomer");
        }
    }

    void SetDates()
    {
        var year = DateTime.Today.Year;
        var month = DateTime.Today.Month;

        DateTime createDate = new DateTime(year, month,
                                DateTime.DaysInMonth(year, month));

        if (DateTime.DaysInMonth(year, month) > 30)
            _expirationDate = createDate.AddDays(-1);
        else
            _expirationDate = createDate;

        if (DateTime.Today.Month < 12)
        {
            _invoiceMonth = (Month)DateTime.Today.Month;
        }
    }

    async Task<List<InvoiceRow>> GetInvoiceRowsForCustomer(int customerId)
    {
        using var db = await DbFactory.Create<BofaxDb>();
        var ir = db.InvoiceRows.Where(x => x.CustomerId == customerId).ToList();
        return ir;
    }

    void AddInvoiceRow()
    {
        CreateAndAddInvoiceRow();
        _invoiceRowQuantity = null;
        _invoiceRowDescription = null;
        _invoiceRowUnitPrice = null;
    }

    async void CreateAndAddInvoiceRow()
    {
        var invoiceRow = new InvoiceRow()
        {
            CustomerId = _customer.Id,
            Quantity = Convert.ToInt32(_invoiceRowQuantity),
            Description = _invoiceRowDescription,
            UnitPrice = Convert.ToDecimal(_invoiceRowUnitPrice)
        };

        try
        {
            using var db = await DbFactory.Create<BofaxDb>();
            db.InvoiceRows.Add(invoiceRow);
            await db.SaveChanges();
            _invoiceRows = await GetInvoiceRowsForCustomer(_customer.Id);
            _calculatedSum = CalculateSum();
            Toaster.Add("Fakturarad tillagd!", MatToastType.Success);            
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.Add("Fel inträffade när fakturarad skulle läggas till!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in AddInvoiceRow");
        }
    }

    async Task DeleteInvoiceRow(InvoiceRow invoiceRow)
    {
        try
        {
            using var db = await DbFactory.Create<BofaxDb>();
            db.InvoiceRows.Remove(invoiceRow);
            await db.SaveChanges();
            _invoiceRows = await GetInvoiceRowsForCustomer(_customer.Id);
            _calculatedSum = CalculateSum();
            Toaster.Add("Fakturarad borttagen!", MatToastType.Success);
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.Add("Fel inträffade när fakturarad skulle tas bort!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in DeleteInvoiceRow");
        }
    }

    async void RenderPDF()
    {
        try 
        {
            Console.WriteLine("Rendering PDF");
            var sum = CalculateSum();
            var sender = await GetSenderInformation();

            var invoiceModel = new InvoiceModel
            {
                Customer = _customer,
                Month = _invoiceMonth.ToString(),
                CreateDate = _invoiceDate.ToString("yyyy-MM-dd"),
                DueDate = _expirationDate.ToString("yyyy-MM-dd"),
                Rows = ConvertToInvoiceRowModel(_invoiceRows),
                Sum = sum,
                AmountToPay = sum,
                Sender = sender
            };

            PrintSettings.Model = invoiceModel;

            Console.WriteLine("Navigating!");
            navMgr.NavigateTo($"/Bofax/Print");
        }
        catch (Exception ex) 
        {
            Toaster.Add("Fel inträffade när faktura skulle genereras!", MatToastType.Danger, ex.Message);
            Console.WriteLine("Exception caught in RenderPDF");
        }
    }

    List<InvoiceRowModel> ConvertToInvoiceRowModel(List<InvoiceRow> invoiceRows)
    {
        var convertedRows = new List<InvoiceRowModel>();

        invoiceRows.ForEach(invoiceRow =>
        {
            convertedRows.Add(new InvoiceRowModel
            {
                Quantity = invoiceRow.Quantity,
                Description = invoiceRow.Description,
                UnitPrice = invoiceRow.UnitPrice
            });
        });

        return convertedRows;
    }

    decimal CalculateSum()
    {
        decimal sum = 0;

        _invoiceRows.ForEach(invoiceRow =>
        {
            sum += invoiceRow.CalculatedPrice;
        });

        return sum;
    }
}