@page "/Print"
@layout PrintLayout
@inject IJSRuntime JSRuntime
@inject PrintSettings PrintSettings

@implements IDisposable

<style>
    /* Page Size */
    @("@page{ size: A4 }")
    /* paper.min.css */
    @("@page{margin:0}body{margin:0}.sheet{margin:0;overflow:hidden;position:relative;box-sizing:border-box;page-break-after:always}body.A3 .sheet{width:297mm;height:419mm}body.A3.landscape .sheet{width:420mm;height:296mm}body.A4 .sheet{width:210mm;height:296mm}body.A4.landscape .sheet{width:297mm;height:209mm}body.A5 .sheet{width:148mm;height:209mm}body.A5.landscape .sheet{width:210mm;height:147mm}body.letter .sheet{width:216mm;height:279mm}body.letter.landscape .sheet{width:280mm;height:215mm}body.legal .sheet{width:216mm;height:356mm}body.legal.landscape .sheet{width:357mm;height:215mm}.sheet.padding-10mm{padding:10mm}.sheet.padding-15mm{padding:15mm}.sheet.padding-20mm{padding:20mm}.sheet.padding-25mm{padding:25mm}@media screen{body{background:#fff}.sheet{background:#fff;box-shadow:0px 0px 20px 5px #B2B2B2;;margin:5mm auto}}@media print{body.A3.landscape{width:420mm}body.A3,body.A4.landscape{width:297mm}body.A4,body.A5.landscape{width:210mm}body.A5{width:148mm}body.legal,body.letter{width:216mm}body.letter.landscape{width:280mm}body.legal.landscape{width:357mm}}")
    @("app{position:initial; display:initial;flex-direction:initial}")
    @("@media print { body { width: 210mm;min-width: auto !important;}}")

    .invoice-box {
        margin: auto;
        padding: 20px;
        font-size: 14pt;
        line-height: 16pt;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }
            .invoice-box table td {
                padding: 5px;
                vertical-align: top;
            }
            .invoice-box table tr.top table td {
                padding-bottom: 20px;
            }
                .invoice-box table tr.top table td.title {
                    line-height: 45px;
                    color: #333;
                }
            .invoice-box table tr.information table td {
                padding-bottom: 40px;
            }
            .invoice-box table tr.heading td {
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
            }
            .invoice-box table tr.details td {
                padding-bottom: 20px;
            }
            .invoice-box table tr.item td {
                border-bottom: 1px solid #eee;
            }
            .invoice-box table tr.item.last td {
                border-bottom: none;
            }
            .invoice-box table tr.total td:nth-child(2) {
                border-top: 2px solid #eee;
                font-weight: bold;
            }
</style>

<section id="print-paper" class="sheet padding-10mm">
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="4">
                    <table>
                        <tr>
                            <td class="title">
                                <span style="width:100%; max-width:300px;font-size: 22pt; font-weight:bold">
                                    @Model.Sender.InvoiceTitle
                                </span>
                                <br />
                                <span style="margin-top: 5px;">
                                    <i>@Model.Sender.InvoiceSubTitle</i>
                                </span>
                            </td>
                            <td align="right">
                                @Model.Sender.Name
                                <br> @Model.Sender.Adress
                                <br> @Model.Sender.ZipCode @Model.Sender.City
                                <br> @Model.Sender.Phone
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <span style="font-weight: bold; font-style: italic; margin-left: 10px;">FAKTURA</span>
                </td>
                <td colspan="2" align="right">
                    <span style="font-weight: bold; font-style: italic; margin-right: 10px;">@Model.Month</span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr class="information">
                <td colspan="4">
                    <table>
                        <tr>
                            <td>
                                @Model.Customer.Name
                                <br /> @Model.Customer.Adress
                                <br /> @Model.Customer.ZipCode @Model.Customer.City
                            </td>

                            <td align="right">
                                Datum: @Model.CreateDate
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading" style="border-bottom: 1px black">
                <td>
                    Antal
                </td>

                <td>
                    Beskrivning
                </td>

                <td>
                    á pris
                </td>

                <td align="right">
                    Belopp
                </td>
            </tr>
            @foreach (var item in Model.Rows)
            {
                <tr class="item">
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.UnitPrice kr
                    </td>
                    <td align="right">
                        @item.CalculatedPrice kr
                    </td>
                </tr>
            }
            <tr>
                <td height="50" colspan="4">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td style="border-bottom: solid 1px gray">
                                            <span style="font-weight: bold">Betalsätt</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Bankgiro: @Model.Sender.PaymentAccount
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Förfallodag: @Model.DueDate</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td align="right">
                                            <span style="font-weight:bold">Summa:</span> @Model.Sum kr
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span style="font-weight:bold">Att betala:</span> @Model.AmountToPay kr
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</section>

@code{
    public InvoiceModel Model;

    protected override void OnInitialized()
    {
        Model = PrintSettings.Model;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (PrintSettings.AutoPrint == "Yes")
        {
            await JSRuntime.InvokeAsync<bool>("printwindow", null);
        }
    }

    protected override void OnParametersSet()
    {
        JSRuntime.InvokeAsync<bool>("addClass", new[] { PrintSettings.PageSize, PrintSettings.IsLandscape });
    }

    void IDisposable.Dispose()
    {
        JSRuntime.InvokeAsync<bool>("removeClass", new[] { PrintSettings.PageSize, PrintSettings.IsLandscape });
    }
}